<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- Incluir el head -->
<div th:replace="fragments/head :: head"></div>

<body>
<div class="container-fluid text-light pl-5" style="background-color: #0D0D0D;min-height: 100vh;height:100%">
    <!-- Incluir el navbar -->
    <div th:replace="fragments/admin/navbar :: navbar-admin"></div>
    <div class="container-fluid text-light p-5" style="background-color: #0D0D0D;">

        <h1 class="text-primary border border-success border-bottom  border-0" th:text="${Title}"></h1>

        <form method="post" th:action="@{/Ventas/{action}/{id}(id=${Sale.id},action=${Action})}"
              th:object="${Sale}">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group row mb-3">
                <label class="col-sm-1 col-form-label">Usuario</label>
                <div class="col-sm-6">
                    <select class="form-control" th:errorclass="'border border-danger'" th:field="*{user.id}">
                        <option selected th:if="*{user.id != null}" th:value="*{user.id}"
                                th:text="*{user.name + ' ' + user.lastname}"></option>
                        <option th:each="auser : ${Users}" th:value="${auser.id}"
                                th:text="${auser.name + ' ' + auser.lastname}"></option>
                    </select>
                    <small class="form-text text-danger" th:errors="*{user}"
                           th:if="${#fields.hasErrors('user')}"></small>

                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-sm-1 col-form-label">SubTotal</label>
                <div class="col-sm-6">
                    <input class="form-control" th:errorclass="'border border-danger'" th:field="*{subTotal}"
                           type="number"/>
                    <small class="form-text text-danger" th:errors="*{subTotal}"
                           th:if="${#fields.hasErrors('subTotal')}">a</small>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-sm-1 col-form-label">Descuento Total</label>
                <div class="col-sm-6">
                    <input class="form-control" th:errorclass="'border border-danger'" th:field="*{discountTotal}"
                           type="number" th:onchange="'calculateTotal()'"/>
                    <small class="form-text text-danger" th:errors="*{discountTotal}"
                           th:if="${#fields.hasErrors('discountTotal')}">a</small>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label class="col-sm-1 col-form-label">Total</label>
                <div class="col-sm-6">
                    <input class="form-control" th:errorclass="'border border-danger'" th:field="*{total}"
                           type="number"/>
                    <small class="form-text text-danger" th:errors="*{total}"
                           th:if="${#fields.hasErrors('total')}">a</small>
                </div>
            </div>
            <div class="form-group row mb-3">
                <div class="col-sm-6">
                    <input class="btn btn-primary" th:value="${TextButton}" type="submit"/>
                    <a class="btn btn-secondary btn-xs" th:href="@{/Ventas/}">Volver</a>
                </div>
            </div>
        </form>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Descuento</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detail : ${Details}">
                <td th:text="${detail.id}"></td>
                <td th:text="${detail.product.name}"></td>
                <td th:text="${detail.amount}"></td>
                <td th:text="${detail.price}"></td>
                <td th:text="${detail.discount}"></td>
            </tr>
            </tbody>

        </table>
        <p id="ErrorEdt" style="display: none" th:text="${ErrorEdt}"></p>
        <p id="ErrorCtr" style="display: none" th:text="${ErrorCtr}"></p>
        <p id="ErrorDes" style="display: none" th:text="${ErrorDes}"></p>
    </div>
    <!-- Incluir el Footer -->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/jquery-3.7.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/sweetalert2@11.js"></script>
    <script>
        let ErrorEdt = document.getElementById("ErrorEdt").textContent;
        let ErrorCtr = document.getElementById("ErrorCtr").textContent;
        let ErrorDes = document.getElementById("ErrorDes").textContent;

        if (ErrorEdt == "true") {
            Swal.fire({
                position: 'bottom-end',
                icon: 'error',
                title: 'No se ha podido editar el registro.(' + ErrorDes + ')',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                toast: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });
        } else if (ErrorCtr == "true") {
            Swal.fire({
                position: 'bottom-end',
                icon: 'error',
                title: 'No se ha podido crear el registro.(' + ErrorDes + ')',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                toast: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer);
                    toast.addEventListener('mouseleave', Swal.resumeTimer);
                }
            });
        }

        function calculateTotals() {
            let totalSub = 0;
            const rows = document.querySelectorAll('tbody tr');

            rows.forEach(row => {
                const price = parseInt(row.children[3].innerText) || 0;
                const amount = parseInt(row.children[2].innerText) || 0;
                const discount = parseInt(row.children[4].innerText) || 0;

                totalSub += (price * amount) - discount;
            });

            document.getElementById('subTotal').value = totalSub;

            calculateTotal();
        }

        function calculateTotal() {
            const subTotal = parseInt(document.getElementById('subTotal').value) || 0;
            const discountTotal = parseInt(document.getElementById('discountTotal').value) || 0;

            const total = subTotal - discountTotal;
            document.getElementById('total').value = total;
        }

        window.onload = function() {
            calculateTotals();
        };
    </script>
</div>
</body>

</html>