<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- Incluir el head -->
<div th:replace="fragments/head :: head"></div>

<body>
<div class="container-fluid text-light pl-5" style="background-color: #0D0D0D;min-height: 100vh;height:100%">
    <!-- Incluir el navbar -->
    <div th:replace="fragments/client/navbar :: navbar-client"></div>
    <div class="container-fluid text-light p-5" style="background-color: #0D0D0D;">
        <h1 class="text-light border border-opacity-10 border-bottom  border-0" th:text="${Title}"></h1>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Cliente</th>
                <th>Productos</th>
                <th>Descuento</th>
                <th>SubTotal</th>
                <th>Total</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sale:${Sales}">
                <td th:text="${sale.id}"></td>
                <td th:text="${sale.user.name} + ' ' + ${sale.user.lastname}"></td>
                <td>
                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        th:data-bs-target="'#collapse'+${sale.id}" aria-expanded="true"
                                        th:aria-controls="'collapse'+${sale.id}"
                                        style="background: rgba(0,0,0,0); width: 100%; text-align: center;">
                                    Detalles
                                </button>
                            </h2>
                            <div th:id="'collapse'+${sale.id}" class="accordion-collapse collapse">
                                <div class="accordion-body">
                                    <table class="table table-dark table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>
                                            <th>Descuento</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="detail : ${sale.details}">
                                            <td th:text="${detail.id}"></td>
                                            <td th:text="${detail.product.name}"></td>
                                            <td th:text="${detail.amount}"></td>
                                            <td th:text="${detail.price}"></td>
                                            <td th:text="${detail.discount}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td th:text="${sale.discountTotal}"></td>
                <td th:text="${sale.subTotal}"></td>
                <td th:text="${sale.total}"></td>
                <td th:text="${sale.date}"></td>
                <td>
                    <!--a class="btn btn-primary btn-xs" th:onclick="@{/Ventas/Download/{id}(id=${sale.id})}"
                       th:text="'Descargar'"></a-->
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <!-- Incluir el Footer -->
    <div th:replace="fragments/footer :: footer"></div>
    <script src="/js/jquery-3.7.1.slim.min.js"></script>
    <script src="/js/sweetalert2@11.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</div>
</body>
</html>