<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}">Document</title>
    <!-- Agregar los archivos CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/listar}">Clientes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="text-primary border border-success border-bottom  border-0"  th:text="${titulo}"></h1>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cliente:${cliente}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.Name}"></td>
            <td th:text="${cliente.Lastname}"></td>
            <td th:text="${cliente.Email}"></td>
            <td th:text="${cliente.CreateAt}"></td>
            <td>
                <a class="btn btn-success btn-xs" th:href="@{/form/} + ${cliente.id}" th:text="'Editar'"></a>
                <a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${cliente.id}" th:text="'Eliminar'"></a>
            </td>
        </tr>
        </tbody>

    </table>
    <a class="btn btn-success btn-xs" th:href="@{/form}">Crear</a>
    <a class="btn btn-primary btn-xs" th:href="@{/form}">Modificar</a>
    <a class="btn btn-danger btn-xs" th:href="@{/form}">Eliminar</a>
</div>
<script src="/js/jquery-3.7.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>