<div class="container-fluid" style="background-color: #0D0D0D;" th:fragment="navbar">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a class="navbar-brand" href="/">
                <img alt="Logo"
                     class="d-inline-block align-text-top" height="50" src="/img/Spring_Boot.svg.png" width="50">
            </a>
        </div>
        <div class="col-md-3 text-end">
            <a href="/Login" class="btn btn-outline-primary me-2">Login</a>
            <a href="/Login" class="btn btn-primary">Sign-up</a>
        </div>
    </header>
</div>
