<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0D0D0D;" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img alt="Logo"
                 class="d-inline-block align-text-top" height="50" src="/img/Spring_Boot.svg.png" width="50">

        </a>
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Home">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownUsers" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownUsers">
                        <li><a class="dropdown-item" href="/Clientes">Clientes</a></li>
                        <li><a class="dropdown-item" href="/Administradores">Administradores</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Ventas">Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Ventas/Create">Comprar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>